<div id="data-grid">
    <dx-data-grid
      id="gridContainer"
      [dataSource]="routeService.dataSource"
      keyExpr="id"
      [showBorders]="true"
      (onRowRemoving)="routeService.remove($event)"
      (onRowInserting)="routeService.add($event)"
      (onRowUpdating)="routeService.update($event)"
    >
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
      >
        <dxo-popup
          title="Route Info"
          [showTitle]="true"
          [width]="700"
          [height]="525"
        >
        </dxo-popup>
        <dxo-form>
          <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
            <dxi-item dataField="routeNumber"></dxi-item>
          </dxi-item>
        </dxo-form>
      </dxo-editing>
  
      <dxi-column dataField="routeNumber" caption="Route number" alignment="left"></dxi-column>
    </dx-data-grid>
  </div>
  