<div id="data-grid">
    <dx-data-grid
      id="gridContainer"
      [dataSource]="dataSource"
      keyExpr="id"
      [showBorders]="true"
      (onRowRemoving)="remove($event)"
      (onRowInserting)="add($event)"
      (onRowUpdating)="update($event)"
    >
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
      >
        <dxo-popup
          title="Route Info"
          [showTitle]="true"
          [width]="700"
          [height]="525"
        >
        </dxo-popup>
        <dxo-form>
          <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
            <dxi-item dataField="departureStationId"></dxi-item>
            <dxi-item dataField="destinationStationId"></dxi-item>
          </dxi-item>
        </dxo-form>
      </dxo-editing>
  
      <dxi-column dataField="departureStationId" caption="Departure" alignment="left">
        <dxo-lookup [dataSource]="stations" displayExpr="name" valueExpr="id">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="destinationStationId" caption="Destination" alignment="left">
        <dxo-lookup [dataSource]="stations" displayExpr="name" valueExpr="id">
        </dxo-lookup>
      </dxi-column>
    </dx-data-grid>
  </div>
  