<h2>Login</h2>
<form method="post" action="https://localhost:44367/api/user/login" enctype="application/json">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" formControlName="email" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" formControlName="password" class="form-control"/>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">
            Login
        </button>
    </div>
</form>