<div id="data-grid">
    <dx-data-grid
      id="gridContainer"
      [dataSource]="trainService.dataSource"
      keyExpr="id"
      [showBorders]="true"
      (onRowRemoving)="trainService.remove($event)"
      (onRowInserting)="trainService.add($event)"
      (onRowUpdating)="trainService.update($event)"
    >
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
      >
        <dxo-popup
          title="Train Info"
          [showTitle]="true"
          [width]="700"
          [height]="525"
        >
        </dxo-popup>
        <dxo-form>
          <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
            <dxi-item dataField="number"></dxi-item>
          </dxi-item>
        </dxo-form>
      </dxo-editing>
  
      <dxi-column [width]="200" dataField="number" caption="Number" alignment="left">
      </dxi-column>
    </dx-data-grid>
  </div>
  