<head>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">CFR Remastered</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="authenticationService.getCurrentUser" class="navbar-nav me-auto mb-2 mb-lg-0" [ngSwitch]="authenticationService.getCurrentUser.role">
        <li class="nav-item" *ngSwitchCase="'Administrator'">
          <a class="nav-link active" aria-current="page" routerLink="/departure">Departures</a>
        </li>
        <li class="nav-item" *ngSwitchCase="'Administrator'">
          <a class="nav-link active" aria-current="page" routerLink="/route">Routes</a>
        </li>
        <li class="nav-item" *ngSwitchCase="'Administrator'">
          <a class="nav-link active" aria-current="page" routerLink="/line">Lines</a>
        </li>
        <li class="nav-item" *ngSwitchCase="'Administrator'">
          <a class="nav-link active" aria-current="page" routerLink="/station">Stations</a>
        </li>
        <li class="nav-item" *ngSwitchCase="'Administrator'">
          <a class="nav-link active" aria-current="page" routerLink="/train">Trains</a>
        </li>
        <li class="nav-item" *ngSwitchCase="'Administrator'">
          <a class="nav-link active" aria-current="page" routerLink="/ticket-booking">Ticket Booking</a>
        </li>
      </ul>
      <ul *ngIf="!authenticationService.getCurrentUser" class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <a routerLink="/user">
        <div *ngIf="authenticationService.getCurrentUser" class="details-column">        
          <span class="me-4 badge bg-primary" [ngClass]="authenticationService.getCurrentUser.role == 'Administrator' ? 'bg-danger' : 'bg-primary'" >{{authenticationService.getCurrentUser.role}}</span>
          <span class="me-4">{{authenticationService.getCurrentUser.email}}</span>  
        </div>
      </a>
      <button *ngIf="!authenticationService.getCurrentUser" type="button" class="btn btn-primary" routerLink="/login">Login</button>
      <button (click)="logout()" *ngIf="authenticationService.getCurrentUser" type="button" class="btn btn-primary">Logout</button>
    </div>
  </div>
</nav>

<div role="main">
  <router-outlet></router-outlet>
</div>
